* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p, form {
    margin: 1rem;
}

h1 {
    font-family: 'Playwrite US Trad', cursive;
    font-size: 2rem;
}

form {
    display: flex;
}

textarea {
    height: 6rem;
}

select {
    color: #000000;
    padding: 0.1rem 0;
}

.dropdowns, .decrypt-div, .encrypt-div, .rot-div {
    display: flex;
    flex-direction: column;
}

.rot-div {
    display: none;
}

.decrypt-div, .dropdowns {
    align-items: left;
}

.encrypt-div, .rot-div, .rot-number {
    align-items: right;
}

.decrypt-button, .encrypt-button {
    padding: 0.1rem 1rem;
}

select, .decrypt-button, .encrypt-button {
    font-size: 1rem;
}